{% extends "base.html" %}

{% block page_title %}
	{{page_title}}
{% endblock page_title %}


{% block contents %}
	<div class="container">
	<center><h1 id="hone" class="tentang">Tentang Saya !</h1>
		<h2>Nama : Reksa Prayoga S</h2>
		<div style="border-top:4px solid orange;border-bottom:4px solid red;height:200px;width:200px;border-radius:50%;margin-bottom:30px;">
			
		</div>
	</center>	
	<p> Sayahanyalah seorang pengangguran yang masuk dalam kategori wibu hehe , saya suka perhitungan matematika fisika maupun kimia dan saya juga suka untuk mengeksplor hal baru , ditambah saya ini masih belum ada apa apanya dibanding kalian jadi <span class="motive">Keep coding and stay awesome ! salam kenal Reksa Aka Kigamekun</span></p>
</div>

{% endblock contents %}